USE [master]
GO
/****** Object:  Database [DOOR]    Script Date: 8/13/2014 3:15:49 PM ******/
CREATE DATABASE [DOOR]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DOOR', FILENAME = N'D:\SQLDATA\MSSQL11.SQLEXPRESS\MSSQL\DATA\DOOR.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'DOOR_log', FILENAME = N'D:\SQLDATA\MSSQL11.SQLEXPRESS\MSSQL\DATA\DOOR_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DOOR].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DOOR]
GO
/****** Object:  User [doorapp]    Script Date: 8/13/2014 3:15:50 PM ******/
CREATE USER [doorapp] FOR LOGIN [doorapp] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [doorapp]
GO
/****** Object:  Table [dbo].[CBCMGDOOR_LOG]    Script Date: 8/13/2014 3:15:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CBCMGDOOR_LOG](
	[LOG_ID] [int] IDENTITY(1,1) NOT NULL,
	[SESSION_KEY] [varchar](32) NOT NULL,
	[LOG_DATETIME] [datetime] NOT NULL,
	[REQUEST] [varchar](50) NULL,
 CONSTRAINT [PK_CBCMGDOOR_LOG] PRIMARY KEY CLUSTERED 
(
	[LOG_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CBCMGDOOR_MESSAGE]    Script Date: 8/13/2014 3:15:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CBCMGDOOR_MESSAGE](
	[MESSAGE_ID] [int] IDENTITY(1,1) NOT NULL,
	[LANGUAGE] [varchar](8) NOT NULL,
	[KEY] [varchar](32) NOT NULL,
	[VALUE] [nvarchar](512) NULL,
 CONSTRAINT [PK_cbcm_MESSAGE] PRIMARY KEY CLUSTERED 
(
	[MESSAGE_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CBCMGDOOR_USERRIGHTS]    Script Date: 8/13/2014 3:15:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CBCMGDOOR_USERRIGHTS](
	[UserID] [int] NOT NULL,
	[MEMBER_ID] [int] NULL,
	[USERNAME] [nvarchar](100) NULL,
	[RIGHTS] [varchar](50) NULL,
 CONSTRAINT [PK_CBCMGDOOR_USERRIGHTS] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[CBCMGDOOR_USERS]    Script Date: 8/13/2014 3:15:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[CBCMGDOOR_USERS](
	[SESSION_KEY] [varchar](32) NOT NULL,
	[USERNAME] [nvarchar](100) NULL,
	[RIGHTS] [varchar](50) NULL,
 CONSTRAINT [PK_CBCMGDOOR_USERS] PRIMARY KEY CLUSTERED 
(
	[SESSION_KEY] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[CBCMGDOOR_LOG] ON 

INSERT [dbo].[CBCMGDOOR_LOG] ([LOG_ID], [SESSION_KEY], [LOG_DATETIME], [REQUEST]) VALUES (2, N'e51c8d44cc2eed889537ac1bff35a581', CAST(0x0000A34900F14CB9 AS DateTime), N'Grant Access')
INSERT [dbo].[CBCMGDOOR_LOG] ([LOG_ID], [SESSION_KEY], [LOG_DATETIME], [REQUEST]) VALUES (3, N'e51c8d44cc2eed889537ac1bff35a581', CAST(0x0000A34900F1A3A4 AS DateTime), N'Grant Access')
INSERT [dbo].[CBCMGDOOR_LOG] ([LOG_ID], [SESSION_KEY], [LOG_DATETIME], [REQUEST]) VALUES (4, N'e51c8d44cc2eed889537ac1bff35a581', CAST(0x0000A34900F23B2E AS DateTime), N'Grant Access')
GO
SET IDENTITY_INSERT [dbo].[CBCMGDOOR_LOG] OFF
SET IDENTITY_INSERT [dbo].[CBCMGDOOR_MESSAGE] ON 

INSERT [dbo].[CBCMGDOOR_MESSAGE] ([MESSAGE_ID], [LANGUAGE], [KEY], [VALUE]) VALUES (101, N'ENG', N'UserName', N'Username')
INSERT [dbo].[CBCMGDOOR_MESSAGE] ([MESSAGE_ID], [LANGUAGE], [KEY], [VALUE]) VALUES (102, N'ENG', N'Password', N'Password')
INSERT [dbo].[CBCMGDOOR_MESSAGE] ([MESSAGE_ID], [LANGUAGE], [KEY], [VALUE]) VALUES (103, N'ENG', N'Language', N'Language')
GO
SET IDENTITY_INSERT [dbo].[CBCMGDOOR_MESSAGE] OFF
INSERT [dbo].[CBCMGDOOR_USERRIGHTS] ([UserID], [MEMBER_ID], [USERNAME], [RIGHTS]) VALUES (34, 159, N'edward.chen', N'admin')
INSERT [dbo].[CBCMGDOOR_USERRIGHTS] ([UserID], [MEMBER_ID], [USERNAME], [RIGHTS]) VALUES (938, 2656, N'jesus.christ', N'test')
INSERT [dbo].[CBCMGDOOR_USERRIGHTS] ([UserID], [MEMBER_ID], [USERNAME], [RIGHTS]) VALUES (2029, 2831, N'kevin.tang', N'user')
INSERT [dbo].[CBCMGDOOR_USERS] ([SESSION_KEY], [USERNAME], [RIGHTS]) VALUES (N'1ac9cc94a9bb9ead9562214cb765b4d2', N'edward.chen', N'admin')
INSERT [dbo].[CBCMGDOOR_USERS] ([SESSION_KEY], [USERNAME], [RIGHTS]) VALUES (N'2522c6b3e25534df4e384b44de5efb07', N'kevin.tang', N'admin')
INSERT [dbo].[CBCMGDOOR_USERS] ([SESSION_KEY], [USERNAME], [RIGHTS]) VALUES (N'4bf616d90a65b7663a5cd6c2262271e0', N'kevin.tang', N'user')
ALTER TABLE [dbo].[CBCMGDOOR_LOG] ADD  DEFAULT (getdate()) FOR [LOG_DATETIME]
GO
USE [master]
GO
